/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}
.flex-header {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: space-between;
  padding: 20px;
}

header.top {
  background: transparent;
}

header.scrolled {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.71),
    rgba(0, 0, 0, 0.93)
  );
  backdrop-filter: blur(6px);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.27);
}

.flex-link {
  display: flex;
  gap: 20px;
}
.flex-link a {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
header.top .flex-link a:hover {
  color: #ffcc9df1;
}
header.scrolled .flex-link a:hover {
  color: #ffcc9df1;
}
header.scrolled .flex-link a {
  color: white;
}

header.top .flex-link a {
  color: rgba(245, 245, 245, 0.8);
}
/* header mobile */
/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
  margin-left: 30px;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50vh;
  background: rgba(0, 0, 0, 0.69);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 13px;
  transform: translateY(-100%);
  transition: 0.4s ease;
  z-index: 1000;
}

.mobile-menu.open {
  transform: translateY(0);
}

/* LINK */
.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
}

/* BUTTON */

.part1 {
  color: #f7f5f5d3;
}
.part2 {
  color: #cea25c;
}
.logo {
  font-size: 1.9em;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 1px 25px #0f0f0ff6;
}
.logo-sm {
  display: none;
}
.prenota-btn a {
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: rgb(12, 12, 12);
  font-weight: bold;
}

div.prenota-btn {
  padding: 10px 32px;
  border: unset;
  border-radius: 2px;
  color: #212121;
  z-index: 1;
  background: linear-gradient(140deg, #e0bc44, #faeba9, #f7ca36);

  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(22, 21, 21, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

div.prenota-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(135deg, #f0dc9d, #f1d246, #e9dcb0);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 450ms;
}

div.prenota-btn:hover {
  color: #e8e8e8;
  transform: scale(1.02);
}

div.prenota-btn:hover::before {
  width: 100%;
}
/* HERO */
.hero {
  background-image: url("/hero-bg-big.png");
  min-height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 1px 25px rgba(0, 0, 0, 0.86);
}

/* overlay scuro */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.front {
  z-index: 999;
  padding-top: 10px;
  max-width: 60%;
}
.unique {
  color: rgba(255, 200, 97, 0.65);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.57);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 4px;
  color: #c7a46a;
  padding-bottom: 15px;
}
.line {
  letter-spacing: 0px;
}
.capelli {
  color: #c7a46a;
  text-shadow: 0 1px 5px rgba(20, 20, 20, 0.77);
}
.hero-title h2 {
  font-size: 5em !important;
  color: rgba(240, 234, 234, 0.78);
  font-size: 4em !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 0.15em;
  line-height: 1.7;
  color: #c9c3c3a9;
}
.hero-btns {
  letter-spacing: 1.5px;
  font-size: smaller;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero-btn-1 {
  text-decoration: none;
  padding: 13px 43px;
  background-color: #c7a46a;
  color: black;
}
.hero-btn-2 {
  text-decoration: none;
  padding: 13px 43px;
  background-color: rgba(0, 0, 0, 0.479);
  color: rgb(245, 240, 240);
  border: 1px solid rgba(255, 255, 255, 0.33);
}
.hero-btn-1:hover {
  transform: scale(1.02);
  background-color: rgba(252, 222, 90, 0.69);
  box-shadow: 0px 4px 15px rgba(247, 199, 110, 0.43);
}
.hero-btn-2:hover {
  transform: scale(1.02);
  color: #c7a46a;
  border: 1px solid #c7a46a;
}

.hamburger-logo {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}
.stripe {
  padding: 60px 30px;
  color: rgb(223, 218, 218);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #111111;
  border-top: 0.5px solid rgba(233, 229, 229, 0.28);
  border-bottom: 0.5px solid rgba(233, 229, 229, 0.28);
}

.stripe-el div {
  display: flex;
  flex-direction: column;
}
.stripe-num {
  color: #cea25c;
  text-shadow: 0 1px 25px #0a0a0ad7;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.7em;
}
.stripe-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 1.7;
  color: #c9c3c3c9;
}
.stripe-sm {
  display: none;
}
/* CHI SIAMO */
.chi-siamo {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 80px);
  padding-bottom: 60px;
  background-color: #171616;
}
.chi-siamo-1,
.chi-siamo-2 {
  padding: 100px;
}
.chi-siamo-2 .chi-siamo-p {
  color: rgba(231, 229, 229, 0.621);
}
.chi-siamo-p {
  line-height: 40px;
  font-size: 1.2em;
}
.chi-siamo-img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.square-el {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -30px;
  left: 100px;
  background-color: #c69e58;
  height: 100px;
  padding: 10px 20px;
  font-size: 1em;
  width: fit-content;
}
.square-el .stripe-num {
  color: #131212;
  text-shadow: 0 1px 25px #0a0a0a0f;
}
.square-el .stripe-text {
  color: #121111;
  font-size: 0.5em;
}
.chi-siamo-title {
  font-size: 0.9em;
}
.chi-siamo ul {
  color: #c69e58;
  line-height: 35px;
}
ul span {
  color: rgba(255, 255, 255, 0.637);
  font-family: "Poppins", sans-serif;
}
.i-nostri-servizi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121111;
  min-height: 100vh;
}
.i-nostri-servizi-1 .hero-title {
  font-size: 0.7em;
  text-align: left;
}
.i-nostri-servizi-1 {
  padding: 50px;
  text-align: center;
}
.i-nostri-servizi-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 80%;
}
.service-card {
  color: rgba(243, 239, 239, 0.909);
  padding: 50px 20px;
  border: 1px solid rgb(49, 47, 47);
  background-color: #1a1919;
  transition:
    transform 0.35s ease,
    border 0.35s ease;
}
.service-card:hover {
  border: 1px solid #c69e58;
  transform: translateY(-8px) scale(1.02);
}
.service-card h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  padding: 5px;
}
.servizi-p {
  line-height: 30px;
  font-size: 0.9em;
  color: rgba(219, 215, 215, 0.692);
}
.price.unique {
  font-size: 0.8em;
  letter-spacing: normal;
}
.icon {
  color: #ede5e5b1;
  padding: 5px 10px;
  margin-bottom: 20px;
  background-color: #212121;
  max-width: 60px;
  text-align: center;
}
/* ESPERIENZA */
.esperienza {
  display: flex;
  padding: 100px;
  justify-content: space-evenly;
  background-color: #0e0d0d;
}

.esperienza-1 .hero-title {
  font-size: 0.8em;
  padding-bottom: 30px;
}
.esperienza-logo-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.esperienza-logo-text div {
  color: white;
  display: flex;
  gap: 10px;
}
.esperienza-logo-text .text {
  display: flex;
  flex-direction: column;
}
.esperienza-2 {
  display: flex;
}
.esperienza-2 div {
  overflow: hidden;
  border-radius: 2px;
}
.esperienza-2 img {
  width: 200px;
  transition: trasnform 0.35 ease;
  display: block;
}
.esperienza-2 img:hover {
  transform: scale(1.06);
}
.img-2-flex {
  display: flex;
  flex-direction: column;
}
.img-1-esperienza {
  height: 100%;
  object-fit: cover;
}
.esperienza-logo-text .icon {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  margin-right: 20px;
  color: #c69e58;
  background-color: #38321e4f;
}
.text h5 {
  font-weight: bolder;
  color: rgb(228, 226, 226);
}
.text p {
  color: #e8e8e895;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-width: 50%;
}
.item {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.item:hover img {
  transform: scale(1.08);
}
.nostri-lavori {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0e0d0d;
  padding: 100px;
}
.nostri-lavori a {
  text-decoration: none;
}

.insta {
  padding: 50px;
  transform: 0.5 ease;
}
.insta:hover {
  transform: scale(1.02);
}
.recensioni {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 100px;
  justify-content: center;
  background-color: #131212;
}
.recensioni-2 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.recensioni .card {
  background-color: #0a0a0af0;
  color: #eee;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.05);
}

.recensioni .stars {
  display: flex;
  gap: 4px;
  margin-bottom: 1rem;
}

.recensioni .text {
  font-style: italic;
  margin-bottom: 1rem;
}

.recensioni .footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.your-style {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #0e0d0d;
}
.your-style h2 {
  margin-bottom: 30px;
}
.linea {
  margin-top: 111px;
  margin-bottom: 111px;
  padding: 5px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 215, 0, 0.1),
    #c69e58,
    rgba(255, 215, 0, 0.1)
  );
}
.your-style p {
  text-align: center;
  color: rgba(218, 212, 212, 0.528);
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: "Arial", sans-serif;
}
.buttons-style {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 40px;
}
.buttons-style a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.buttons-style-1 {
  color: #0e0d0dd7;
  background-color: #c7a46a;
  padding: 15px 30px;
}
.buttons-style-2 {
  color: #e8e8e8;
  padding: 15px 30px;
  border: 0.5px solid #e6e0e096;
}
/* RESPONSIVE */
@media (max-width: 600px) {
  .hero {
    background-image: url("/hero-bg.png");
    background-color: rgba(0, 0, 0, 0.89);
    min-height: 100vh;
  }
  .logo {
    display: none;
  }
  .logo-sm {
    display: inline-block;
    font-size: 1.9em;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0 1px 25px #cea25c83;
  }
  .front {
    max-width: 90%;
  }
  .unique {
    font-size: 0.57em;
  }
  .hamburger-links {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero-title {
    font-size: 0.68em;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
  }
  .subtitle {
    font-size: 0.85em;
  }
  .hero-btn-1 {
    font-size: 0.68em;
    padding: 10px 20px;
  }
  .hero-btn-2 {
    font-size: 0.68em;
    padding: 10px 20px;
  }
  .prenota-btn {
    display: none;
  }
  .prenota-btn-sm a {
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-weight: bold;
  }
  div.prenota-btn-sm {
    padding: 10px 32px;
    width: 90%;
    color: black;
    border: unset;
    text-align: center;
    border-radius: 2px;
    color: #212121;
    z-index: 1;
    background: linear-gradient(140deg, #e0bc44, #faeba9, #f7ca36);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(22, 21, 21, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
  }

  div.prenota-btn-sm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(135deg, #f0dc9d, #f1d246, #e9dcb0);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 450ms;
  }

  div.prenota-btn-sm:hover {
    color: #e8e8e8;
    transform: scale(1.02);
  }

  div.prenota-btn-sm:hover::before {
    width: 100%;
  }
  .hamburger-as {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .stripe {
    display: none;
  }
  .stripe-sm {
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px;
    background-color: #111111;
    border-top: 0.5px solid rgba(233, 229, 229, 0.28);
    border-bottom: 0.5px solid rgba(233, 229, 229, 0.28);
  }
  .stripe-text {
    font-size: 0.7em;
    margin-bottom: 7px;
  }
  .chi-siamo {
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }
  .square-el {
    top: -10px;
    left: 50px;
    height: 50px;
  }
  .chi-siamo-img {
    max-width: 80%;
    height: auto;
  }
  .chi-siamo-1 {
    padding: 30px;
  }
  .chi-siamo-2 {
    padding: 30px 25px;
  }
  .i-nostri-servizi-2 {
    flex-direction: column;
  }
  .esperienza {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .esperienza-2 {
    padding-top: 50px;
    gap: 1rem;
  }
  .esperienza-logo-text {
    padding: 5px;
  }
  .esperienza .hero-title {
    font-size: 0.7em;
  }
  .esperienza-logo-text .icon {
    padding: 10px;
    margin-right: 10px;
    max-height: 50px;
    margin-bottom: 0px;
  }
  .img-2-flex {
    gap: 1.5rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 90%;
  }
  .nostri-lavori {
    padding: 60px 10px;
  }
  .recensioni {
    padding: 0;
  }
  .recensioni .card {
    width: 90%;
  }
  .buttons-style {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }
  .your-style.hero-title{
    text-align: center;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .flex-header {
    margin: 0 20px;
  }
}
