/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}
.flex-header {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: space-between;
  padding: 20px;
}

header.top {
  background: transparent;
}

header.scrolled {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.71),
    rgba(0, 0, 0, 0.93)
  );
  backdrop-filter: blur(6px);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.27);
}

.flex-link {
  display: flex;
  gap: 20px;
}
.flex-link a {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-weight: bold;
}
header.top .flex-link a:hover {
  color: #ffcc9df1;
}
header.scrolled .flex-link a:hover {
  color: #ffcc9df1;
}
header.scrolled .flex-link a {
  color: white;
}

header.top .flex-link a {
  color: rgba(245, 245, 245, 0.8);
}
/* header mobile */
/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
  margin-left: 30px;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.69);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 13px;
  transform: translateY(-100%);
  transition: 0.4s ease;
  z-index: 1000;
}

.mobile-menu.open {
  transform: translateY(0);
}

/* LINK */
.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
}

/* BUTTON */

.part1 {
  color: #f7f5f5d3;
}
.part2 {
  color: #cea25c;
}
.logo {
  font-size: 1.9em;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 1px 25px #0f0f0ff6;
}
.logo-sm {
  display: none;
}
.prenota-btn a {
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: rgb(12, 12, 12);
  font-weight: bold;
}

div.prenota-btn {
  padding: 10px 32px;
  border: unset;
  border-radius: 2px;
  color: #212121;
  z-index: 1;
  background: linear-gradient(140deg, #e0bc44, #faeba9, #f7ca36);

  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(22, 21, 21, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

div.prenota-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(135deg, #f0dc9d, #f1d246, #e9dcb0);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 450ms;
}

div.prenota-btn:hover {
  color: #e8e8e8;
  transform: scale(1.02);
}

div.prenota-btn:hover::before {
  width: 100%;
}
/* HERO */
.hero {
  background-image: url("/hero-bg-big.png");
  height: 100vh;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 1px 25px rgba(0, 0, 0, 0.86);
}

/* overlay scuro */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.front {
  z-index: 999;
  padding-top: 10px;
  max-width: 60%;
}
.unique {
  color: rgba(255, 200, 97, 0.65);
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.57);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 4px;
  color: #c7a46a;
  padding-bottom: 15px;
}
.line {
  letter-spacing: 0px;
}
.capelli {
  color: #c7a46a;
  text-shadow: 0 1px 5px rgba(20, 20, 20, 0.77);
}
.hero-title h2 {
  font-size: 5em !important;
  color: rgba(240, 234, 234, 0.78);
  font-size: 4em !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
.subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 0.15em;
  line-height: 1.7;
  color: #c9c3c3a9;
}
.hero-btns {
  letter-spacing: 1.5px;
  font-size: smaller;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero-btn-1 {
  text-decoration: none;
  padding: 13px 43px;
  background-color: #c7a46a;
  color: black;
}
.hero-btn-2 {
  text-decoration: none;
  padding: 13px 43px;
  background-color: rgba(0, 0, 0, 0.479);
  color: rgb(245, 240, 240);
  border: 1px solid rgba(255, 255, 255, 0.33);
}
.hero-btn-1:hover {
  transform: scale(1.02);
  background-color: rgba(252, 222, 90, 0.69);
  box-shadow: 0px 4px 15px rgba(247, 199, 110, 0.43);
}
.hero-btn-2:hover {
  transform: scale(1.02);
  color: #c7a46a;
  border: 1px solid #c7a46a;
}

.hamburger-logo {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}
.stripe {
  padding: 60px 30px;
  color: rgb(223, 218, 218);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #111111;
  border-top: 0.5px solid rgba(233, 229, 229, 0.28);
  border-bottom: 0.5px solid rgba(233, 229, 229, 0.28);
}

.stripe-el div {
  display: flex;
  flex-direction: column;
}
.stripe-num {
  color: #cea25c;
  text-shadow: 0 1px 25px #0a0a0ad7;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.7rem;
}
.stripe-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 1.7;
  color: #c9c3c3c9;
}
.stripe-sm {
  display: none;
}
/* RESPONSIVE */
@media (max-width: 600px) {
  .hero {
    background-image: url("hero-bg-small.png");
    background-color: rgba(0, 0, 0, 0.89);
  }
  .logo {
    display: none;
  }
  .logo-sm {
    display: inline-block;
    font-size: 1.9em;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0 1px 25px #cea25c83;
  }
  .front {
    max-width: 90%;
  }
  .unique {
    font-size: 0.57rem;
  }
  .hamburger-links {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero-title {
    font-size: 0.68rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
  }
  .subtitle {
    font-size: 0.85rem;
  }
  .hero-btn-1 {
    font-size: 0.68rem;
    padding: 10px 20px;
  }
  .hero-btn-2 {
    font-size: 0.68rem;
    padding: 10px 20px;
  }
  .prenota-btn {
    display: none;
  }
  .prenota-btn-sm a {
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: rgb(12, 12, 12);
    font-weight: bold;
  }
  div.prenota-btn-sm {
    padding: 10px 32px;
    width: 90%;
    color: black;
    border: unset;
    text-align: center;
    border-radius: 2px;
    color: #212121;
    z-index: 1;
    background: linear-gradient(140deg, #e0bc44, #faeba9, #f7ca36);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(22, 21, 21, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
  }

  div.prenota-btn-sm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(135deg, #f0dc9d, #f1d246, #e9dcb0);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 450ms;
  }

  div.prenota-btn-sm:hover {
    color: #e8e8e8;
    transform: scale(1.02);
  }

  div.prenota-btn-sm:hover::before {
    width: 100%;
  }
  .hamburger-as {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .stripe {
    display: none;
  }
  .stripe-sm {
    text-align: center;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px;
    background-color: #111111;
    border-top: 0.5px solid rgba(233, 229, 229, 0.28);
    border-bottom: 0.5px solid rgba(233, 229, 229, 0.28);
  }
  .stripe-text {
    font-size: 0.7rem;
    margin-bottom: 7px;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .flex-header {
    margin: 0 20px;
  }
}
